@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }


body {
@apply bg-white text-slate-900;
}


.dark body {
@apply bg-slate-900 text-slate-100;
}


.skeleton {
@apply animate-pulse bg-slate-200 dark:bg-slate-700 rounded-md;
}